@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');





html, body {
	height: 100%;
	width: 100%;
	overflow: auto;
}
body {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(194,217,255,0.5)), color-stop(100%, rgba(255,240,199,0.65)));
	background-repeat: no-repeat;
	background-size: cover;
}
header {
	height: 150px;
	background-color: rgb(30,121,151);
	background-image: url(../img/sky_header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-top: 40px;
	text-align: center;
    font-family: 'Major Mono Display', monospace;
	font-size: 3rem;
	color: rgb(255, 255, 179);
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
.form {
	width: 500px;
	margin: 50px auto;
	padding: 20px 0 20px 40px;
	font-family: 'Roboto Mono', monospace;
	background-color: rgba(255, 241, 192, 0.8);
	border: 2px solid rgba(0, 38, 77, 0.6);
	border-radius: 0.8rem;
}
label {
	color: rgb(0, 40, 77);
}
#desiredCity {
	border-radius: 0.4rem;
	background-color: white;
	color: rgb(3, 60, 79);
	outline: none; 
}
#searchCity {
	border-radius: 0.5rem;
	margin-left: 20px;
	text-transform: lowercase;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.1rem;
	color: rgb(0, 38, 77);
	background-color: rgb(242, 242, 242);
	-webkit-box-shadow: 3px 3px 10px 0px rgba(66,61,66,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(66,61,66,1);
    box-shadow: 3px 3px 10px 0px rgba(66,61,66,1);
	cursor: pointer;
	outline: none;
}
#searchCity:onclick {

}
main {
	box-sizing: border-box;
}
.firstLine {
	width: 50%;
	margin: 50px auto;
	box-sizing: border-box;
}
.secondLine {
	width: 50%;
	box-sizing: border-box;
	margin: 50px auto;
}
.City {
	width: 350px;
	border: 3px solid rgb(0, 38, 77);
	border-radius: 15px;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75); 
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	color: rgb(3, 60, 79);
}
.headerSection {
	padding: 0px 50px 0px 50px;
	box-sizing: border-box;
	margin-top: 20px;
	background-color: rgba(255, 241, 192,0.7);
	display: inline-block;
	border: 1px solid rgb(0, 38, 77);
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	font-family: 'Questrial', sans-serif;
	text-transform: uppercase;
}
.tempSection {
	padding: 0px 20px 20px 50px;
	box-sizing: border-box;
	margin-top: 20px;
	background-color: white;
	display: inline-block;
	border: 1px solid rgb(0, 38, 77);
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	background-color: rgba(255, 255, 204,0.7);
	font-family: 'Questrial', sans-serif;
}
.pressureSection {
	padding: 0px 20px 20px 50px;
	box-sizing: border-box;
	margin-top: 20px;
	background-color: white;
	display: inline-block;
    border: 1px solid rgb(0, 38, 77);
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	background-color: rgba(255, 241, 192,0.7);
	font-family: 'Questrial', sans-serif;	
}
.windSection {
	padding: 0px 20px 20px 50px;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	display: inline-block;
	border: 1px solid rgb(0, 38, 77);
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	background-color: rgba(255, 241, 192,0.7);
	font-family: 'Questrial', sans-serif;	
}
#Moscow {
	background-image: url(../img/moscow.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#London {
	background-image: url(../img/london.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#Berlin {
	background-image: url(../img/berlin.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#Pekin {
	background-image: url(../img/pekin.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#MoscowTemperatureDiagramm, #LondonTemperatureDiagramm, #BerlinTemperatureDiagramm, #PekinTemperatureDiagramm {
	height: 10px;
	background-color: rgb(153, 204, 255);
}
#MoscowPressureDiagramm, #LondonPressureDiagramm, #BerlinPressureDiagramm, #PekinPressureDiagramm {
	height: 10px;
	background-color: rgb(204, 51, 0);
}
#MoscowWindDiagramm, #LondonWindDiagramm, #BerlinWindDiagramm, #PekinWindDiagramm {
	height: 10px;
	background-color: rgb(0, 102, 153);
}
#inputCity1, #inputCity2, #inputCity3, #inputCity4 {
	display: none;
	background-size: cover;
	background-repeat: no-repeat;
}
#inputCity1TemperatureDiagramm, #inputCity2TemperatureDiagramm, #inputCity3TemperatureDiagramm, #inputCity4TemperatureDiagramm {
	height: 10px;
	background-color: rgb(153, 204, 255);
}
#inputCity1PressureDiagramm, #inputCity2PressureDiagramm, #inputCity3PressureDiagramm, #inputCity4PressureDiagramm {
	height: 10px;
	background-color: rgb(204, 51, 0);
}
#inputCity1WindDiagramm, #inputCity2WindDiagramm, #inputCity3WindDiagramm, #inputCity4WindDiagramm {
	height: 10px;
	background-color: rgb(0, 102, 153);
}
a {
	text-decoration: none;
	color: rgb(255,204,82);
}
footer {
	width: 100%;
	height: 150px;
	margin-top: 150px;
	background-color: rgb(0, 26, 77);
	background-image: url(../img/sky_footer.jpg);
	background-size: cover;
	background-position: 100% 0%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	text-align: center;
	padding-top: 30px;
	font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
	color: rgb(255,216,123);
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;

}

@media screen and (min-width: 1000px) {
    .firstLine {
    	width: 100%;
    	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    	margin: 20px -20px;
    }
    .secondLine {
    	width: 100%;
    	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    	margin: 20px -20px;
    }
    .City {
    	margin: 10px 20px;
    }
    .headerSection, .tempSection, .pressureSection, .windSection {
    	display: block;
    }
    header {
    	text-align: left;
    	padding-left: 40px;
    	margin: 0;
    	border-bottom-left-radius: 0;
    }
    .plus {
    	height: 50px;
    	width: 50px;
    	display: block;
    	position: relative;
    	top: -25px;
    	left: 150px;
    	background-color: rgb(255, 255, 204);
    	border: 2px solid rgb(0, 26, 77);
    	border-top: none;
    	-webkit-box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.75);
    	border-radius: 50px;
    	text-align: center;
    	line-height: 50px;
    	font-size: 2rem;
    }
    .add-btn {
    	height: 50px;
    	width: 50px;
    	border-radius: 50px;
    	background-color: rgb(255, 255, 204);
    	color: rgb(0, 26, 77);
    	outline: none;
    	border-style: none;
    	font-weight: bolder;
    	cursor: pointer; 
    }
    .add-btn .closed {
    	
    }
    .form {
    	margin: 0;
    	border-top-left-radius: 0;
    	border-top-right-radius: 0;
    	border-top: none;
    	display: none;
    }
}