@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
	height: 100%;
}
body {
	/*background-image: url(../img/bgi.jpg);
	background-position: cover;
	background-repeat: no-repeat;*/
	background-color: rgb(0, 0, 255, 3%);
}
header {
	height: 100px;
	background-color: rgb(249, 230, 255);
	color: rgb(68, 0, 102);
	line-height: 100px;
	text-align: left;
	padding-left: 30px;	
    font-family: 'Major Mono Display', monospace;
	font-size: 3rem;
    border-left: none;
    border-right: none;
    border-top: none;
}
main {
	height: 1000px;
	font-family: sans-serif;
}
footer {
	height: 100px;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,207,207,1)), color-stop(100%, rgba(189,255,249,1)));
    color: rgb(68, 0, 102);
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    padding-left: calc(50% - 225px);
    text-align: center;
    margin-top: 150px;
    padding-top: 10px;
    box-sizing: border-box;
}
p {
	width: 450px;
}
.firstLine {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	margin-top: 150px;
}
.City {
	height: 370px;
	width: 300px;
	padding: 30px;
	box-sizing: border-box;	
	border: 1px solid rgb(31, 31, 122);
	border-radius: 15px;
	background-color: rgb(255, 243, 230);
}
#MoscowTemperatureDiagramm, #LondonTemperatureDiagramm, #BerlinTemperatureDiagramm, #PekinTemperatureDiagramm {
	height: 10px;
	background-color: rgb(153, 204, 255);
}
#MoscowPressureDiagramm, #LondonPressureDiagramm, #BerlinPressureDiagramm, #PekinPressureDiagramm {
	height: 10px;
	background-color: rgb(204, 51, 0);
}
#MoscowWindDiagramm, #LondonWindDiagramm, #BerlinWindDiagramm, #PekinWindDiagramm {
	height: 10px;
	background-color: rgb(0, 102, 153);
}

h1 {
	color: rgb(0, 0, 77);
	font-family: 'Rajdhani', sans-serif;
}
h2 {
	font-size: 1.4rem;
	color: rgb(0, 0, 51);
}
#Moscow {
	background-image: url(../img/moscow.png);
	background-position: 60% 20%;
	background-repeat: no-repeat;

}
#London {
	background-image: url(../img/london.png);
	background-position: cover;
	background-repeat: no-repeat;
}
#Berlin {
	background-image: url(../img/berlin.png);
	background-size: 180% 120%;
	background-repeat: no-repeat;
}
#Pekin {
	background-image: url(../img/pekin.png);
	background-position: cover;
	background-size: 200% 150%;
	background-repeat: no-repeat;
}

.secondLine {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding-top: 100px;
}
#inputCity1, #inputCity2, #inputCity3, #inputCity4 {
	display: none;
}
#inputCity1TemperatureDiagramm, #inputCity2TemperatureDiagramm, #inputCity3TemperatureDiagramm, #inputCity4TemperatureDiagramm {
	height: 10px;
	background-color: rgb(153, 204, 255);
}
#inputCity1PressureDiagramm, #inputCity2PressureDiagramm, #inputCity3PressureDiagramm, #inputCity4PressureDiagramm {
	height: 10px;
	background-color: rgb(204, 51, 0);
}
#inputCity1WindDiagramm, #inputCity2WindDiagramm, #inputCity3WindDiagramm, #inputCity4WindDiagramm {
	height: 10px;
	background-color: rgb(0, 102, 153);
}
#inputCity1 {
	background-position: cover;
	background-repeat: no-repeat;
}
#inputCity2 {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#inputCity3 {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#inputCity4	 {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.citySearch {
	width: 600px;
	height: 50px;
	border-bottom-right-radius: 20px;
	line-height: 50px;
	margin-right: 10px;
	padding-left: 30px;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.2rem;
	color: rgb(68, 0, 102);
	background-color: rgb(249, 230, 255);
}
#searchCity {
	background-color: rgb(230, 230, 255);
	color: rgb(68, 0, 102); 
}
#desiredCity {
	background-color: rgb(239, 239, 245);
}
input {
	border-radius: 5px;
}
a {
	text-decoration: none;
	color: darkblue;
}