.but {
	height: 2.5em;
	width: 5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}
button {
	height: 2.5em;
	width: 5em;
	border-radius: 0.5em;
	outline: none;
}
button:hover {
	box-shadow: none;
	background-color: rgb(204, 204, 255);
	color: rgb(0, 0, 51);
}
p {
	width: 90%;
	display: none;
	border: 4px solid rgb(255, 215, 179);
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5em;
	padding: 1em;
	font-family: sans-serif;
	font-weight: 50;
	background-color: rgb(255, 229, 204);
	color: rgb(77, 77, 77);
}