body {
	height: 100%;
	background-color: rgb(248, 236, 242);
}
form {
	width: 500px;
	height: 100px;
	border: 3px solid rgb(199, 107, 155);
	border-radius: 10px;
	margin-top: 8vw;
	margin-left: auto;
	margin-right: auto;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 30px;
	box-sizing: border-box;
	background-color: rgb(241, 218, 230);
}
.result {
	width: 500px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing: border-box;	
}
label {
	font-family: sans-serif;
	font-size: 1.5rem;
}
h2 {
	font-family: sans-serif;
}