body {padding-top: 100px;}
.Block1, .Block2, .Block3 {
	height: 220px;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid teal;
	border-radius: 10px;
}
.Block1 {
	border-bottom: none;
}
.Block2 {
	border-bottom: none;
}
h1 {
	padding-left: 40px;
	font-family: sans-serif;
}
p {
	padding-left: 40px;
	font-size: 1.5rem;
}

.firstDiagramm {
	height: 50px;
	background-color: lightblue;
}
.secondDiagramm {
	height: 50px;
	background-color: pink;
}
.thirdDiagramm {
	height: 50px;
	background-color: lightgreen;
}