@keyframes flyone {
	0% {
		top: 300px;
		left: -400px;
		transform: rotate(0deg);
	}
	100% {
		top: 100px;
		left: 2000px;
		transform: rotate(-10deg);
	}
}
@keyframes flytwo {
	0% {
		top: 500px;
	    left: -200px;
	}
	100% {
		top: 500px;
		left: 2000px;
		transform: scale(0.3);
	}
}
@keyframes flythree {
	0% {
		top: 800px;
		right: -600px;
	}
	100% {
		top: 300px;
		right: 2000px;
		transform: rotate(20deg);
		transform: scale(0.6);
	}
}
body {
	overflow-x: hidden;
}
.sectionone {
	height: 2000px;
	background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(5,76,255,1) 100%);
}	
.sectiontwo	{
	height: 2000px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(255,255,255,0.99)), color-stop(100%, rgba(255,0,0,0.9)));
}
.but {
	width: 10rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5rem;
}
button {
	width: 10rem;
	height: 5rem;
	border-radius: 1rem;
	outline: none;
	background-color: rgb(128, 179, 255);
}
button:hover {
	background-color: rgb(51, 153, 255);
}
.buttontext {
	color: rgb(0, 77, 77);
	font-family: sans-serif;
	font-size: 1.5rem;
}
.planeOne {
	position: absolute;
	top: 300px;
	left: -400px;
	animation: flyone 4s ease-in;
	animation-play-state: paused;
}
.planeOneImage {
	width: 400px;
	height: 200px;
}
.planeTwo {
	position: absolute;
	top: 500px;
	left: -200px;
	animation: flytwo 9s linear;
	animation-play-state: paused;
	animation-delay: 2s;
}
.planeTwoImage {
	height: 100px; 
	width: 200px;
	opacity: 0.8;
}
.planeThree {
	position: absolute;
	top: 800px;
	right: -600px;
	animation: flythree 6s ease-in;
	animation-play-state: paused;	
}
.planeThreeImage {
	height:300px;
	width: 600px;
}
.cloudOne {
	position: absolute;
	top: 50px;
	left: -200px;
}
.cloudOneImage {
	height: 400px;
	width: 900px;
	opacity: 0.9;
}
.cloudTwo{
	position: absolute;
	top: 80px;
	left: 1500px;

}
.cloudTwoImage {
	height: 200px;
	width: 600px;
	opacity: 0.85;
}
.cloudThree {
	position: relative;
	top: 50px;
	left: 700px;
}
.cloudThreeImage {
	height: 500px;
	widows: 1200px;
}
.text {
	height: 400px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 500px;
	font-family: sans-serif;
	background-image: url(../img/caution.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	line-height: 500px;
	padding-left: 280px;
	font-size: 7rem;
	font-weight: bolder;
}
.tiger {
	position: relative;
	top: 400px;
	left: 500px;
	opacity: 0;
	transition: 0.5s;
}
.priv {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10rem;
	font-family: sans-serif;
	color: rgb(0, 0, 102);
}