@keyframes borderLight {
  from {border: 2px solid red;}
  to {border: 2px solid blue;}
}
.imageBlock img {
  width: 200px;
}

.shortBio {
  padding: 10px;
}

.animated {
  animation: borderLight 1s linear infinite alternate;
}

/*У вас есть код
https://jsfiddle.net/gxqdjerx/

Напишите скрипт, который:
1. ﻿Вызовет prompt с вопросом “Какой будет фон у страницы?” и заменит на введенный цвет фон body
2. ﻿Вызовет prompt с вопросом “Какой будет цвет текста на странице?” и заменит цвет текста у всего .page на введенный
3. ﻿Вызовет prompt с вопросом “Как зовут человека, который вас вдохновляет” и вставит введенное имя в span с классом name
4. ﻿Вызовет prompt с вопросом “Введите адрес картинки” и подставит введенную картинку в тег img, изменив текущий атрибут
5. ﻿Вызовет prompt с вопросом “Введите текст страницы” и вставит введенный текст в блок .shortBio
6. ﻿Присвоит класс animated к элементу с классом shortBio, так чтобы анимация границы заработала, а текущие стили параграфа сохранились*/